@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 67, 84, 103;
  --background-end-rgb: 67, 84, 103;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 29, 54;
    --background-end-rgb: 31, 29, 54;
  }
}
.ph{
  width: 30px;
  height: 30px;
}
html{
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
