@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 237;
  --background-end-rgb: 235, 235, 237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 31, 37;
    --background-end-rgb: 26, 31, 37;
  }
}
.ph{
  width: 30px;
  height: 30px;
}
html{
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

svg{
  /* fill: #000 */
}